doctype 5
html(lang="en")
  head
    title Gtasks
  body

    h2 Hello #{user.displayName}

    #lists

      input(type="text", name="title", class='create-list-title')
      button.create-list Create List

      .list

    script(type='text/template', id="list-template").
      <input type="text" value="<%=title %>">
      <button class="destroy">Delete</button>
      <button class="update">Update</button>
      <ul></ul>
      <input type="text" class="create-task-title">
      <button class="create-task">Create Task</button>
      <hr />

    script(type='text/template', id='task-template').
      <%= title %>
      <button class="destroy-task">Delete</button>

    script(data-main='js/setup', src='js/vendor/requirejs/require.js')
