<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gtasks</title>
    <script src="js/vendor/platform/platform.js"></script>
    <script src="js/vendor/jquery/dist/jquery.js"></script>
    <link rel="import" href="js/elements/gt-index.html">
    <link rel="import" href="js/elements/gt-input.html">
    <link rel="import" href="js/elements/gt-model.html">
  </head>
  <body>
    <gt-model id="lists" url="/lists"></gt-model>
    <gt-input list="lists"></gt-input>
    <gt-index></gt-index>
  </body>
</html>