doctype 5
html(lang="en")
  head
    title Gtasks
  body

    h2 Hello #{user.displayName}

    #lists

    script(type='text/template', id="list-template").
      <input type="text" value="<%=title %>">
      <p><%= updated %></p>
      <a class="destroy">Delete</a>
      <a class="update">Update</a>

    script(data-main='js/main.js', src='js/vendor/requirejs/require.js')
