<html>
<head>
  <title>Gtasks</title>
</head>
<body>

<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
<% } %>

<script src="js/vendor/jquery/jquery.js"></script>
<script>
  var CURRENTUSER = <%= user.id %>;
</script>
</body>
</html>