doctype 5
html(lang="en")
  head
    title Gtasks
    script(src='js/vendor/platform/platform.js')
    link(rel='import', href='js/vendor/polymer-ajax/polymer-ajax.html')
  body

    polymer-ajax(url="http://example.com/json", handleAs="json")

    script(src='js/main.js')
