doctype 5
html(lang="en")
  head
    title Gtasks
    script(src='js/vendor/platform/platform.js')
    script(src='js/vendor/jquery/dist/jquery.js')
    link(rel='import', href='js/elements/gt-model.html')
  body

    //- polymer-ajax(url='/lists', body="{'foo':1, 'bar':2}", handleAs='json', method='POST', response='{{ response }}', on-polymer-response='{{ handleResponse }}')

    gt-model